.avatar {
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    padding: 0 !important;
    aspect-ratio: 1 / 1;
}

.avatar img {
    min-width: 100%;
    min-height: 100%;
}

.card {

}

.card-img-bottom {
    min-width: 100%;
}

.delete-img-btn {

}